<div ng-controller="dataController" class="container" cg-busy="getDataPromise">
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
        <input type="text" class="form-control" placeholder="Search isin" ng-model="searchObject.isin" autofocus>
        <i class="fa fa-times-circle search-clear gray" ng-class="{'hidden': !searchObject.isin}" ng-click="searchObject.isin=''" ng-cloak></i>
      </div>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="">
        <tr>
          <th ng-repeat="(i, th) in head" ng:click="changeSorting(i)" class="col-md-2" ng-cloak>
            {{th}}
            <i class="fa fa-check fa-fw" ng:class="selectedCls(i)"></i>
          </th>
          <th></th>
        </tr>
      </thead>
      <tfoot ng-show="totalItems" ng-cloak>
        <td colspan="6">
          <div class="pull-right navigation-bar">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-cloak>
                Size :
                {{perPageSize}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="size in pageSizes">
                  <a ng-click="setPageSize(size)">{{size}}</a>
                </li>
              </ul>
            </div>
            <ul class="pagination">
              <li ng-class="{disabled: currentPage == 1}">
                <a href ng-click="prevPage()">« Prev</a>
              </li>

              <li ng-repeat="n in range()" ng-class="{active: n === currentPage}" ng-click="setPage(n)">
                <a href ng-bind="n">1</a>
              </li>

              <li ng-class="{disabled: isLastPage()}">
                <a href ng-click="nextPage()">Next »</a>
              </li>
            </ul>
          </div>
        </td>
      </tfoot>
      <tbody>
        <tr ng-repeat="row in filtered | orderBy:sort.column:sort.descending | filter:searchObject | filter:paginate" ng-cloak>
          <td>{{row.isin}}</td>
          <td>
            <switch id="alive" name="alive" type="checkbox" ng-change="update(row)" ng-model="row.alive" class="green small"></switch>
          </td>
          <td>
            <label class="label label-pad">
              <i ng-show="row.has_ts" class="fa fa-check fa-shadow olive fa-lg fa-fw"></i>
              <i ng-hide="row.has_ts" class="fa fa-times fa-shadow red fa-lg fa-fw"></i>
            </label>
          </td>
          <td>{{row.ts_update_date | date:'MM/dd/yyyy hh:mm:ss'}}</td>
          <td>{{row.close_date | date:'MM/dd/yyyy hh:mm:ss'}}</td>
          <td>
            <button class="btn btn-default" ng-click="">Get TS</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>