<table ng-controller="dataController" class="table">
  <thead>
    <tr>
      <td>Isin</td>
      <td>Alive</td>
      <td>Has TS</td>
      <td>TS last update</td>
      <td>Close date</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in data" ng-cloak>
      <td>{{row.isin}}</td>
      <td>
        <select ng-change="update(row)" class="btn btn-default dropdown-toggle" ng-model="row.alive" ng-options="o.value as o.label for o in aliveOptions"></select>
      </td>
      <td>{{row.has_ts}}</td>
      <td>{{row.ts_update_date | date:'MM/dd/yyyy hh:mm'}}</td>
      <td>{{row.close_date | date:'MM/dd/yyyy hh:mm'}}</td>
      <td>
        <button class="btn btn-default" ng-click="">Get TS</td>
      </tr>
    </tbody>
  </table>