body {
  padding-top: 70px;
}
.hidden {
  display: none;
}
.username-padding {
  padding-top: 15px;
  color: #fdfdfd;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.doc-icon {
  color: #F4D4B5;
}
.navbar a {
  text-decoration: none;
}
.label-pad {
  padding: 10px;
}
.table td {
  text-align: center;
}
.table tbody>tr>td {
  vertical-align: middle;
}

/*.fa- {
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}*/